header{
    display: flex;
    flex-direction: column;
    background-image: url(images/Object.png);
}
.header-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.header-logo{
    margin: 25px;
}
.navbar{
    width: 70vh; 
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 60vh;
    list-style-type: none;
}
li a{
    text-decoration: none;
    color: #fff;
}
.header-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.get-schooled{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 4.2rem;
    color: #fff;
    margin-bottom: 2px;
}
.get-schooled h2{
    margin-bottom: 2px;
}
.get-schooled p{
    font-size: 2rem;
    align-items: center;
    margin-top: 0px;
}
button{
    background: blueviolet;
    border-radius: 20px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: sans-serif;
    font-size: 10px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
}
.pros{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFFFFF;
    font-family: sans-serif;
    font-size: small;
}
.pros h2{
    font-size: 40px;
    display: flex;
    justify-content: center;
}
.images{
   display: flex; 
   flex-direction: row;
   justify-content: space-between;
   width: 160vh;
}
.quotes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: blueviolet;
}
.image-5{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 10vh;
    margin-top: 10vh
}
.p-quotes{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90vh;
    height: 30vh;
    margin-top: 10vh;
    color: #FFFFFF;
    font-family: sans-serif;
    font-size: small;
} 
.videos-list{
    display: flex;
    flex-direction: column;
}
.header-video{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.list{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.diagonal-smile{
    flex-direction: column;
    align-items: center;
    margin-top: 0vh
}
.diagonal-image{
    position: relative;
}
.sad-image{
    position: relative; 
}
.natural-image{
    position: relative;  
}
.happy-image{
    position: relative;  
}
.play{
    position: absolute;
    left: 100px;
    margin-top: 10vh;
}
.philip{
    color: blueviolet;
    display: flex;
    flex-direction: row;
    justify-content: center;
   
}
.philip-image{
    width: 30vh;
    height: 30vh;
}
.philip-name{
    display: flex;
    align-items: center;
    font-size: 15px;
    padding-right: 10px;
}
.rating{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 20vh;
}
.sad-smile{
    flex-direction: column;
    align-items: center;
    margin-top: 0vh
}

.natural-smile{
    flex-direction: column;
    align-items: center;
    margin-top: 0vh
}

.happy-smile{
    flex-direction: column;
    align-items: center;
    margin-top: 0vh
}
.membership{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    background-color: black;
    
}
.header-membership{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 2px solid black;
    color: white;

}
.body-membership{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 2px solid black;
    padding-top: 5vh;
    padding-bottom: 10vh;
}
.smile-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black; 
}
.image-membership{
    border: 2px solid black;  
}
.lorem-membership{
    font-size: 10px;
    border: 2px solid black;
    color: white;
    width: 20vh;
    text-align: center; 
}
.button-membership{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    padding-top: 0px;
    padding-bottom: 10vh;
}
.faq{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
}
.header-faq{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 2px solid black; 
}
.body-faq{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 2px solid black; 
}
.h-faq{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 2px solid black;  
}
.block{
    border: 2px solid black; 
    text-align: justify;
}
.faq-1{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
}
.footer{
    flex-direction: row;
    justify-content: flex-end;
    border: 2px solid black;
  }
  .footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #141217;
    height: 20vh;
  }
  .footer-image{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    justify-content: space-evenly;

  }
  .footer-image img{
    width: 50px;
    height: 50px;
    background-color: #141217;
  }
  .copyright{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #141217;
  }