body {
    display: flex;
    flex-direction: column;
    margin: 0%;
    padding: 0;
    font-family: 'kumbh sans', sans-serif;
}
.header-container {
    display: flex;
    flex-direction: column;
    background-image: url(images/headphones_hero_1.jpg);
    height: 120vh;
}
.header-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
}
.header-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30vh;

    color: #fff;
}
.header-body p{
    width: 70vh;
}
.hero-piece{
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin: auto;
    padding: 0 5%;
}
.navbar{
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 1.2rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
}
ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 50vh;
}
li a{
    color: #fff;
    text-decoration: none;
}

button{
    background:#d35807;
    border: 1px solid #141217;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
}
button:hover,
  button:active {
    background-color: initial;
    background-position: 0 0;
    color: #2f2e34;
  }
  .text{
    margin-top: 10vh;
  }
  .what-we-do{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px;
  }
  .what-we-do p{
    width: 90vh;
  }
  .our-results{
    background-image: url(images/headphones_hero_2.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header-results{
    display: flex;
    justify-content: center;
  }
  .results-paragraph{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 90vh;
  }
  .pentagone{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: none;

  }
  .pentagone img{
    width: 100px;
    height: 100px;

  }
  .sound{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5vh;
    
  }
  .sound p{
    width: 30vh;
  }
  .contact{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header-contact{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .contact-form form{
    border: none;
    border-bottom: #141217;
  }
  .button-form{
    margin-top: 5vh;
    margin-bottom: 5vh;
    
  }
  .footer{
    flex-direction: row;
    justify-content: flex-end;
  }
  .footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #141217;
    height: 20vh;
  }
  .footer-image{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    justify-content: space-evenly;
    background-color: #141217;
    
  }
  .footer-image img{
    width: 50px;
    height: 50px;
    background-color: #141217;
  }
  .copyright{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #141217;
  }

  