body {
    display: flex;
    flex-direction: column;
}
.header-container {
    border: 0px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: url(images/headphones_hero_1.jpg);
}
.hero-piece{
    display: flex;
    flex-direction: row;
    width: fit-content;
}
.navbar{
    display: flex;
    flex-direction: row;
    width: 100vh;
}
ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    width: 50vh;
}
main{
    display: flex;
    flex-direction: column;
    
}
.call{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: ;
}